.stack-work
.trash/
.idea/
.vs/
.vscode/
.koka/
node_modules/
out/
bundle/
dist/
dist-newstyle/
kklib/mimalloc-inline
stack.yaml.lock
package-lock.json
test.kk
*.pdb
*.pdn
*~
*.exe
*.vsix
*.bc
*.i
*.s
/*.cmake
bench
test/bench