.stack-work
.trash/
.idea/
.DS_Store
.vs/
.vscode/
node_modules/
out/
bundle/
packages/
temp/
dist/
dist-newstyle/
kklib/mimalloc-inline
stack.yaml.lock
package-lock.json
test.kk
*.pdb
*.pdn
*.vcxproj.user
*.vcxproj.interactive
*.
*~
*.exe
*.vsix
*.bc
*.i
*.s
/*.cmake
bench
test/bench
.koka
scratch
.cache
