.tocitem {
  font-weight: normal;
}

.koka.source, .madoko .koka.source {
  border-left: 0.5ex solid green;
}

body.madoko {
  margin: 0em !important;
}

code, .madoko code,
pre, .madoko pre,
.koka.source.unchecked,
.sidepanel {
  background-color: #f8f7f6;
}
pre, .madoko pre,
.koka.source,
.koka.source.unchecked {
  border: 1px solid #CCC;
  border-left: 0.5ex solid #CCC; 
  padding: 0.5ex 1ex 0.5ex 2ex;
}

code, .madoko code {
  padding-right: 0.2ex;
}

.grammar table,
table.grammar  {   
  margin: 0.5ex 0.5ex 0.5ex 2ex;
  padding: 0.5ex 1ex 0.5ex 1ex;
}

.grammar .code,
.grammar code {
  padding: 0pt;
}

.grammar .bar {
  padding: 0ex 0.5ex;
}

.grammar td:nth-child(2) {
  font-style: normal; 
  padding: 0em 1ex;
  text-align: center;
}

.grammar td:nth-child(4) {
  font-style: normal; 
  padding-left: 2ex;
}

.grammar td {
  white-space: nowrap;
}
.grammar .code, .grammar code,
.grammar .pre, .grammar pre {
  font-weight: bold;
}

table .kw, table .tp, table .co,
.grammar .keyword, .grammar .kw,
.grammar .type, .grammar .tp,
.grammar .constructor, .grammar .co {
  color: black;
}

.nt {
  font-style: italic;
}          

.opt, .many {   
  padding: 0ex 0.5ex;
}


#toc {
  display: none;
}

#toc-toggle {
  cursor: pointer;
  vertical-align: center;
  margin-right: 10px;
  font-size: 16pt;
}

.button {  
  display: inline-block;
  border: 1px solid #AAA;
  margin: 0ex 1ex 1ex 0ex;
  padding: 1ex;  
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 0ex;  
  border-radius: 1ex;
}

.button, .translate {
  background-color: #fffdf0;  
}

.button:hover {
  background-color: #f0fff0 !important;
}

.button a:hover {
  text-decoration: none !important;
}

.translate .koka.source.unchecked, .translate pre {
  xbackground-color: #f0f6fd;  
}

.translate pre {
  margin: 0.5em 0em;
}

.aside {
  float: right;
  width: 50%;
  margin: 0em 0em 1ex 2em;
}

pre.lang-cpp::before {
  content: "C++";
  float: right;
  margin-right: -0.5ex;
	color: #999;
	border: 1px solid #AAA;
  padding: 0ex 0.2ex;  
}

html {
  scroll-behavior: smooth;
}

.fa-external-link {
  font-size: 75% !important;
  padding-left: 0.75ex;
}

.translate-row {
  display: flex;
}

.madoka h2, .madoko h3, .madoko h4 {
  margin-top: 2em;
}
.madoko h3 {
  font-size: 130%;
}
.madoko h4 {
  font-size: 110%;
}

.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: center; */
}

.banners .banner {
  width: calc(50% - 2.5em);
  min-width: 18em;
  padding: 0em 1em;
  margin-bottom: 1em;
  /* border: 1px solid #AAA; */
  /* background-color: #faf9f8; */
  /* border-radius: 1em; */
}

.banner p {
  margin: 1ex 0ex;
}

.banner-caption {
	display: block;
	margin: 0pt auto 0.5ex 0pt;
	font-weight: bold;
  text-align: center;
	/* border-bottom: 1px solid #AAA; */
}

.banner .button {
	text-align: center;
	/* margin: 0ex aute; */
	display: block;
	margin: 0pt;
}

/*
.sidepanel {
  background: linear-gradient(0.25turn,#105A65,#1095a4);
}
.sidepanel, .sidepanel a {
	color: white !important;
}
*/