.koka .plaincode, 
.xkoka a.pp .pc 		{ display: none; } 
.koka a.pp 			{ color: inherit; text-decoration: none; }

code, .madoko code,
pre, .madoko pre,
.koka.source,
.koka.source.unchecked {
  background-color: #EEE;
}
pre, .madoko pre,
.koka.source,
.koka.source.unchecked {
  border: 1px dotted #DDD; 
  padding: 0.5ex 1ex 0.5ex 1ex;
}

code, .madoko code {
  padding-right: 0.2ex;
}


.koka.source.unchecked {
  /* border-left: 1px dashed #DDD ; */
}

.grammar table,
table.grammar  {   
  margin: 0.5ex 0.5ex 0.5ex 2ex;
  padding: 0.5ex 1ex 0.5ex 1ex;
  /*
  background-color: #FAFAFA;
  border: solid 1px #DDD;
  */
}

.grammar .code,
.grammar code {
  padding: 0pt;
}

.grammar .bar {
  padding: 0ex 0.5ex;
}

.grammar td:nth-child(2) {
  font-style: normal; 
  padding: 0em 1ex;
  text-align: center;
}

.grammar .bar
.grammar td:nth-child(2) {
  font-family: Georgia, sans-serif;  /* a thinner font, widely available */
}

.grammar td:nth-child(4) {
  font-style: normal; 
  padding-left: 2ex;
}

.grammar td {
  white-space: nowrap;
}
.grammar .code, .grammar code,
.grammar .pre, .grammar pre {
  font-weight: bold;
}

table .kw, table .tp, table .co,
.grammar .keyword, .grammar .kw,
.grammar .type, .grammar .tp,
.grammar .constructor, .grammar .co {
  color: black;
}

.nt {
  font-style: italic;
}          

.opt, .many {   
  padding: 0ex 0.5ex;
}


#toc {
  display: none;
}

#toc-toggle {
  cursor: pointer;
  vertical-align: center;
  margin-right: 10px;
  font-size: 16pt;
}
