.tocitem {
  font-weight: normal;
}

.koka.source, .madoko .koka.source {
  /* border-left: 0.5ex solid green; */
}

.madoko .koka.source:not(.unchecked)::before {
  float: right;
  margin-right: -1ex;
	margin-top: -1.4ex;
  color: #999;
  padding: 0ex 0ex 0ex 0.2ex;  
  content: "checked";
  font-family: Nunito;
  font-size: x-small;
  /*
  content: "\F00C";
  font-family: FontAwesome;
  font-size:small;
  */
}

body.madoko {
  margin: 0em !important;
}

code, .madoko code,
pre, .madoko pre,
.koka.source.unchecked,
.sidepanel {
  background-color: #f4f3f2;
}
pre, .madoko pre,
pre.koka.source,
.koka.source,
.koka.source.unchecked {
  /* border: 1px solid #CCC; */
  /* border-left: 0.5ex solid #CCC; */
  border: none;
  padding: 0.5ex 1ex 0.5ex 1ex;
}

body,pre,.sidepanel,.news-items {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
}


code, .madoko code {
  padding-right: 0.2ex;
}

.button code, .button code span {
  background-color: inherit !important;
  color: inherit !important;
}

.grammar table,
table.grammar  {   
  margin: 0.5ex 0.5ex 0.5ex 2ex;
  padding: 0.5ex 1ex 0.5ex 1ex;
}

.grammar .code,
.grammar code {
  padding: 0pt;
}


.grammar td:nth-child(2) {
  font-style: normal; 
  padding: 0em 1ex;
  text-align: center;
}

.grammar td:nth-child(4) {
  font-style: normal; 
  padding-left: 2ex;
}

.grammar td {
  white-space: nowrap;
}
.grammar .code, .grammar code,
.grammar .pre, .grammar pre {
  font-weight: bold;
}

table .kw, table .tp, table .co,
.grammar .keyword, .grammar .kw,
.grammar .type, .grammar .tp,
.grammar .constructor, .grammar .co {
  color: black;
}

.nt {
  font-style: italic;
}          

.opt, .many, .manyn {   
  padding: 0ex 0.5ex;
}

.manyx {   
  padding-left: 0.5ex;
}

#toc {
  display: none;
}

#toc-toggle {
  cursor: pointer;
  vertical-align: center;
  margin-right: 10px;
  font-size: 16pt;
}

.button {  
  display: inline-block;
  border: 1px solid #AAA;
  margin: 0ex 1ex 1ex 0ex;
  padding: 1ex;  
  transition: all 0.25s;
  cursor: pointer;
  border-radius: 1ex;
}

.button, .translate {
  background-color: #fffdf0;
  /* background-color: #dfeef5; */
}


.button:hover {
  /* background-color: #fffad7 !important; */
  background-color: #b9dae8 !important;  
}

.small-button.button {  
  padding: 0.25ex 1ex;  
  transition: all 0.25s;
  cursor: pointer;
  margin: 0.25ex 0ex;
}

a.button, .button a {
  color: black;
  text-decoration: none !important;
}


.translate .koka.source.unchecked, .translate pre {
  /* background-color: #f0f6fd;  */
}

.translate pre {
  margin: 0.5em 0em;
}

.aside {
  float: right;
  width: 50%;
  margin: 0em 0em 1ex 2em;
}

pre.lang-cpp::before {
  content: "C++";
  float: right;
  margin-right: -0.5ex;
	color: #999;
	border: 1px solid #AAA;
  padding: 0ex 0.2ex; 
}

pre.lang-arm64::before {
  content: "assembly";
  float: right;
  margin-right: -0.5ex;
	color: #999;
	border: 1px solid #AAA;
  padding: 0ex 0.2ex;
}

html {
  scroll-behavior: smooth;
}

.fa-external-link {
  font-size: 75% !important;
  padding-left: 0.75ex;
}

.translate-row {
  display: flex;
}

.madoka h2, .madoko h3, .madoko h4 {
  margin-top: 2em;
}
.madoko h3 {
  font-size: 130%;
}
.madoko h4 {
  font-size: 110%;
}

.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: center; */
}

.banners .banner {
  width: calc(50% - 1.5em);
  min-width: 20em;
  margin-bottom: 1em;
  /* padding: 0em 1em; */
  /* border: 1px solid #AAA; */
  /* background-color: #faf9f8; */
  /* border-radius: 1em; */
}

.banner p {
  margin: 1ex 0ex;
}

.banner-caption {
	display: block;
	margin: 0pt auto 0.5ex 0pt;
	font-weight: bold;
  text-align: center;
	/* border-bottom: 1px solid #AAA; */
}

.banner .button {
	text-align: center;
	/* margin: 0ex aute; */
	display: block;
	margin: 0pt;
}

/*
.sidepanel {
  background: linear-gradient(0.25turn,#105A65,#1095a4);
}
.sidepanel, .sidepanel a {
	color: white !important;
}
*/

.colored .wide, .colored .sidepanel {
  /* teal */
  /* background-color: #10606C;
     background: linear-gradient(#105A65,#1095a4); */
  /* slate teal */
  /* background-color: #215166;
     background: linear-gradient(#15323f,#2d708d);
     background: linear-gradient(#1b4253,#347fa0); */         
  background-color: #1b4253;
}
.colored .button {
  background-color:#215166;
}

.grad.colored .wide, .grad.colored .sidepanel {
  background: linear-gradient(#1b4253,#286179);
}
.colored .sidepanel, .colored .sidepanel a, .colored a.button, .colored .button a, .colored .button .fa {
  color: #e8e8e8 !important;
}
.colored .sidepanel .current a {
  color: white !important;
}

.colored .button {
  border:none;
}
.colored .button:hover {
  /* background-color: #fffad7 !important; */
  background-color: #2e708d !important;  
}

.penrose.colored .wide, .penrose.colored .sidepanel {
  background: url(images/penrose-tiling.png);
}

.fa-angle-double-down {
  vertical-align: -0.1ex;
}

.news-items {
	height: 14em;
	overflow-y: auto;
	padding-top: 1ex;
  margin-top: -1em;
  padding-right: 1ex;  
  /* border: 1px solid #ccc; */	
}

.advanced h3, .advanced h4 {
  margin-top: 0em;
}


.tooltip-copied {
  position: relative;
}

.tooltip-copied::after, .tooltip-copied::before {
  position: absolute;
  z-index: 1000;
  pointer-events:none;   
  animation: tooltip-appear;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
}

.tooltip-copied::after {
  top: 100%;
  right: -50%;
  margin-top:7px;
  text-align: center;
  content: attr(data-tooltip);
  border-radius:5px;
  padding: 1ex;
  background-color: #215166;
  color: #e8e8e8;
}

.tooltip-copied::before {
  width:0;
  height:0;
  content:"";
  top:auto;
  right: 0%;
  bottom: -7px;
  margin-right: 7px;
  border: 7px solid transparent;  
  border-bottom-color:#215166;
}
    
@keyframes tooltip-appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}